<div class="card">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">
                
                <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1"><img src="../../../../assets/images/back2.jpeg" /></div>
                  <div class="tab-pane" id="pic-2"><img src="../../../../assets/images/back2.jpeg" /></div>
                  <div class="tab-pane" id="pic-3"><img src="../../../../assets/images/back2.jpeg" /></div>
                  <div class="tab-pane" id="pic-4"><img src="../../../../assets/images/back2.jpeg" /></div>
                  <div class="tab-pane" id="pic-5"><img src="../../../../assets/images/back2.jpeg" /></div>
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../../../../assets/images/back2.jpeg" /></a></li>
                  <li><a data-target="#pic-2" data-toggle="tab"><img src="../../../../assets/images/back2.jpeg" /></a></li>
                  <li><a data-target="#pic-3" data-toggle="tab"><img src="../../../../assets/images/back2.jpeg" /></a></li>
                  <li><a data-target="#pic-4" data-toggle="tab"><img src="../../../../assets/images/back2.jpeg" /></a></li>
                  <li><a data-target="#pic-5" data-toggle="tab"><img src="../../../../assets/images/back2.jpeg" /></a></li>
                </ul>
                
            </div>
            <div class="details col-md-6">
                <div style="line-height:0.9">
                <p>Order Id : <b>#43211323</b></p>
                <span style="font-size:35px!important;font-weight:bold" class="product-title">Product 1  </span><span style="color:gray">Product Id : <b>#43211323</b></span>
                </div>
                <br> 
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                
                <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                <div style="font-size: 25px;">
                    <h3><b>Client Details</b></h3>
                    <div style="line-height: 0.6;font-size:15px!important">
                    <p>Client id: <b>#212121</b></p>     
                    <p>Client Name: <b>Username</b></p> 
                    <p>Email Address: <b>username@gmail.com</b></p>
                    </div>
                  </div>
                <div style="font-size: 25px;">
                    <h3><b>Paycheck</b></h3>
                    <div style="line-height: 0.6;font-size:16px">
                    <p>Quantity: <b>5</b></p> 
                    <p>Price/unit: <b>50</b></p>
                    <p><b>Grand Total Price: </b><b style="color: green">$50 X 5 = $250</b></p>
                    </div>
                  </div>
                <p class="vote" style="font-size:19px"><strong>Order Status : </strong> <span style="color:green">Out for Delivery</span></p>
            </div>
        </div>
    </div>
</div>
