<div class="products">
    <h1>Available Products</h1>
    <div class="input-group" style="display:block!important;width: 100% !important;">
        <div class="form-outline">
          <input type="search" placeholder="Search..." class="form-control"id="form1" class="form-control"/>
        </div>
      </div>
    
      <hr style="border:2px solid black">

      <!---------Product Div---------->
      <a [routerLink]="['/online/view']" routerLinkActive="router-link-active" >
<div class="row product-layer" style="padding:15px!important">
    <div class="col-lg-3" style="padding: 15px!important"><img class="img-m" src="../../../../assets/images/back2.jpeg"/></div>
    <div class="col-lg-6">
    <div class="row">
      <h3>Product name</h3>
    </div>
    <div class="row">
      <p><b>Descriptions</b></p>
      <p style="text-overflow: ellipsis">About  sncoinlcnlncwncnownccnwoicnkcnnceinccnk acacacacacacascasccewcnloewcnewncnan anfanlna aldmlnilad. adadad dasdwa dwdd</p>
    </div>
    </div>
    <div class="col-lg-3">
      <div class="row" style="padding: 20px!important;">
        <div class="price">
          <p style="line-height: 0.6;"><b>$250</b>&nbsp;<span style="text-decoration: line-through;font-size: 23px;">$300</span><br><span style="color: green;font-weight: bold;font-size:12px;"><b>View</b> 2 more suppliers</span></p>
        </div>
      </div>
      <div class="row">
        <div class="status" style="margin: auto!important;">
        <button type="button" class="btn btn-success" style="font-size: 20px;"><b>Buy Now</b></button>
        </div>
      </div>
    </div>
</div>
</a>
      <!---------End of Product Div---------->
         <!---------Product Div---------->
         <a [routerLink]="['/online/view']" routerLinkActive="router-link-active" >
<div class="row product-layer" style="padding:15px!important">
  <div class="col-lg-3" style="padding: 15px!important"><img class="img-m" src="../../../../assets/images/back2.jpeg"/></div>
  <div class="col-lg-6">
  <div class="row">
    <h3>Product name</h3>
  </div>
  <div class="row">
    <p><b>Descriptions</b></p>
    <p style="text-overflow: ellipsis">About  sncoinlcnlncwncnownccnwoicnkcnnceinccnk acacacacacacascasccewcnloewcnewncnan anfanlna aldmlnilad. adadad dasdwa dwdd</p>
  </div>
  </div>
  <div class="col-lg-3">
    <div class="row" style="padding: 20px!important;">
      <div class="price">
        <p style="line-height: 0.6;"><b>$250</b>&nbsp;<span style="text-decoration: line-through;font-size: 23px;">$300</span><br><span style="color: green;font-weight: bold;font-size:12px;"><b>View</b> 2 more suppliers</span></p>
      </div>
    </div>
    <div class="row">
      <div class="status" style="margin: auto!important;">
      <button type="button" class="btn btn-success" style="font-size: 20px;"><b>Buy Now</b></button>
      </div>
    </div>
  </div>
</div>
</a>
    <!---------End of Product Div---------->
       <!---------Product Div---------->
       <a [routerLink]="['/online/view']" routerLinkActive="router-link-active" >
<div class="row product-layer" style="padding:15px!important">
  <div class="col-lg-3" style="padding: 15px!important"><img class="img-m" src="../../../../assets/images/back2.jpeg"/></div>
  <div class="col-lg-6">
  <div class="row">
    <h3>Product name</h3>
  </div>
  <div class="row">
    <p><b>Descriptions</b></p>
    <p style="text-overflow: ellipsis">About  sncoinlcnlncwncnownccnwoicnkcnnceinccnk acacacacacacascasccewcnloewcnewncnan anfanlna aldmlnilad. adadad dasdwa dwdd</p>
  </div>
  </div>
  <div class="col-lg-3">
    <div class="row" style="padding: 20px!important;">
      <div class="price">
        <p style="line-height: 0.6;"><b>$250</b>&nbsp;<span style="text-decoration: line-through;font-size: 23px;">$300</span><br><span style="color: green;font-weight: bold;font-size:12px;"><b>View</b> 2 more suppliers</span></p>
      </div>
    </div>
    <div class="row">
      <div class="status" style="margin: auto!important;">
      <button type="button" class="btn btn-success" style="font-size: 20px;"><b>Buy Now</b></button>
      </div>
    </div>
  </div>
</div>
</a>
    <!---------End of Product Div---------->
</div>