<p>register works!</p>

 <!-- Register -->
 <div class="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h1 class="display-4 text-center">Sign Up</h1>
          <p class="lead text-center">Create your Account</p>
          <form (ngSubmit)="registerSubmit()">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg"

              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.username}" 
               placeholder="ENTER FULLName" name="name" 
              [(ngModel)]="register.username"
              
              required />

              <div class="invalid-feedback d-block">{{error.name}}</div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg"
              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.email}" 
              
              placeholder="Email Address" name="email" 
              [(ngModel)]="register.email"/>
             <div class="invalid-feedback d-block">{{error.email}}</div>
              
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" 
              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.password}"
              placeholder="Password" name="password" 
              [(ngModel)]="register.password"/>
              <div class="invalid-feedback d-block">{{error.password}}</div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" 
              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.userid}" 
              placeholder="Enter UserId" name="userId"
              [(ngModel)]="register.userid" />
              <div class="invalid-feedback d-block">{{error.userid}}</div>
            </div>
            <div class="form-group">
              <input type="roleid" class="form-control form-control-lg" 
              [ngClass]="{'form-control form-control-lg':true,'is-invalid':error.roleId}" 
              placeholder="Enter RoleId" name="roleId"
              [(ngModel)]="register.roleId" />
              <div class="invalid-feedback d-block">{{error.roleid}}</div>
            </div>
            <input type="submit" class="btn btn-info btn-block mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
