<div class="dashboard admin" style="width: 1200px!important">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Supplier-Dashboard</h1>
          <hr style="border: 2px solid black">
          <br>
          <p class="lead text-muted">Welcome Supplier</p>

         
        <div class="btn-group mb-4" role="group">
            <a [routerLink]="['/supplier/orders/status-pending']"  class="btn btn-light">
                <i class="fa fa-clock text-info mr-1"></i>
              Pending Orders</a>
            <a [routerLink]="['/supplier/inventory']" class="btn btn-light">
              <i class="fab fa-houzz text-info mr-1"></i>
              Inventory</a> 
              <a [routerLink]="['/supplier/orders/status-completed']" class="btn btn-light">
             
                <i class="fa fa-tasks text-info mr-1"></i>
                Completed Orders</a> 
          </div>
          <hr style="border: 1px solid black">
          <p class="lead text-muted" style="font-size:28px!important">Avaliable Products</p>
          <div class="btn-group mb-4" role="group">
    <div class="row" style="width: 100%!important">
        <div class="col-lg-12">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Apple iPhone XR (Red, 128 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2"><a style="width:200px"type="a" [routerLink]="['sell']" routerLinkActive="router-link-active" class="btn btn-success"><b>Sell Product</b></a></h6>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img class="img-p" style="width:100px;height:100px;border-radius: 20px;object-fit:cover" src="../../../../assets/images/back2.jpeg" alt="Generic placeholder image" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Apple iPhone XS (Silver, 64 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">64 GB ROM | 14.73 cm (5.8 inch) Super Retina HD Display 12MP + 12MP | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2"><a style="width:200px"type="a" [routerLink]="['sell']" routerLinkActive="router-link-active" class="btn btn-success"><b>Sell Product</b></a></h6>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                </ul>
                            </div>
                        </div><img class="img-p" style="width:100px;height:100px;border-radius: 20px;object-fit:cover" src="../../../../assets/images/back2.jpeg" alt="Generic placeholder image"  class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Apple iPhone XS Max (Gold, 64 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">64 GB ROM | 16.51 cm (6.5 inch) Super Retina HD Display 12MP + 12MP | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2"><a style="width:200px"type="a" [routerLink]="['sell']" routerLinkActive="router-link-active" class="btn btn-success"><b>Sell Product</b></a></h6>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img class="img-p" style="width:100px;height:100px;border-radius: 20px;object-fit:cover" src="../../../../assets/images/back2.jpeg" alt="Generic placeholder image" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">OnePlus 7 Pro (Almond, 256 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">Rear Camera|48MP (Primary)+ 8MP (Tele-photo)+16MP (ultrawide)| Front Camera|16 MP POP-UP Camera|8GB RAM|Android pie</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2"><a style="width:200px"type="a" [routerLink]="['sell']" routerLinkActive="router-link-active" class="btn btn-success"><b>Sell Product</b></a></h6>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                </ul>
                            </div>
                        </div><img class="img-p" style="width:100px;height:100px;border-radius: 20px;object-fit:cover" src="../../../../assets/images/back2.jpeg" alt="Generic placeholder image" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
        </div>
      
        </div>
      </div>
    </div>
  </div>
